.myLogo {
    margin-top: 20px;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: rgba(0, 255, 0); 
    text-shadow: 0 0px 30px rgba(0, 255, 0, 0.356);
    transform: translateY(-20px);
}