.myInput {
    font-size: 20px;
    width: 250px;
    display: flexbox;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    background-color: rgb(0, 24, 0);
    color: rgb(0, 255, 0);
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgba(0, 255, 0, 0.979);
    font-weight: normal;
    transition: all 0.3s ease;
}
.myInput:hover {
    transition: all 0.3s ease;    
}
::placeholder 
    {
        color: rgba(0, 255, 0, 0.5);
        text-align: center;
    }