* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
#root {
    display: flex;
    justify-content: center;
}
.App {
    width: 800px;
}
.post{
    display: flex;
    padding: 15px;
    border: 2px solid black;
    margin-top: 15px;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.315);
}
button {
    display: flexbox;
    padding: 5px;
    margin: 5px;
    background-color: white;
    font-weight: bold;
}