/* made by mr.chronica */
/* ===== ИМПОРТ ШРИФТОВ ===== */
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

/* ===== ГЛОБАЛЬНЫЕ СТИЛИ ===== */
html
    {
        zoom: 1;
        -webkit-text-size-adjust: 100%;
        background-color: rgb(43, 43, 43);
    } 
a 
    {
        color: inherit;
        text-decoration: none;
    }
.bg 
    {
        position: fixed;
        inset: 0;
        background: rgb(43, 43, 43) center / cover no-repeat;
        filter: blur(10px) saturate(0) ;
        transform: scale(1.05);
        z-index: -1;
    }
body 
    {
        user-select: none;
        color: whitesmoke; 
        text-align: center;
        font-family: "TikTok Sans", sans-serif;
        word-spacing: 5px;
        text-transform: lowercase; 
        font-size: 200%;
        margin: 0;
        overflow-x: hidden;
        transition: all 0.3s ease;
    }
::-webkit-scrollbar {width: 5px} 
::-webkit-scrollbar-thumb
    {
        border-radius: 30px;
        background:rgb(255, 255, 255);
        box-shadow:0 2px 20px rgba(255, 255, 255, 0.466);
    }
/* ===== ШАПКА ===== */
.header
    {
        width: 100%;
        height: 80px;
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        color: #fff; 
        text-shadow: 0 0px 10px rgba(255, 255, 255, 0.356);
        transform: translateY(-20px);
    }
/* ===== ОСНОВНАЯ ФОРМА ===== */

#required
    {
        background: rgb(39, 39, 39);
        border: 3px solid rgb(19, 19, 19);
        border-radius: 15px;
        width: 400px;
        max-width: 400px;
        min-width: 300px;
        height: 200px;
        resize: none;
        padding: 10px;
        color: whitesmoke;
        bottom: +20px;
        margin: 0 auto; 
        display: block;
    }
::placeholder 
    {
        color: rgb(196, 196, 196);
        text-align: center;
    }
#required::placeholder 
    {
        padding: 30px;
        font-size: 200%;
        position: relative;
        bottom: -30px;
    }
.required_button
    {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.404) !important;
        font-size: 80% !important;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0.5%;
        background: rgb(53, 53, 53);
        color: whitesmoke;
        border-radius: 30px;
        cursor: pointer;
        border: none;
        transition: all 0.3s ease;
        margin: 10px auto;
        display: block;
    }
.required_button:hover 
    {
        box-shadow: 0 0px 10px rgb(0, 0, 0);  
        transform: translateY(-2px); 
        transition: all 0.3s ease;
    }
.required_button:active 
    {
        transform: translateY(0);
        transition: all 0.3s ease;
    }
.input 
    {
        font-size: 100%;
        background: rgb(22, 22, 22);
        border: none;
        border-radius: 5px;
        resize: none;
        padding: 2px;
        color: whitesmoke;
    }
/* ===== КНОПКИ В ШАПКЕ ===== */
.header_double 
    {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.404); 
        text-shadow: 0 2px 20px rgba(255, 255, 255, 0.466);
        font-weight: 500;
        display: flex;
        width: 20%;
        height: 40px;
        background-color: rgb(53, 53, 53);
        border-radius: 10px; 
        margin: 2.5%;
        margin-top: 0;
        margin-bottom: 0;
        float: left;
        font-size: 48%;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: -10px;
        transition: all 0.3s ease;
        cursor: pointer;
        overflow: hidden; 
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        box-sizing: border-box; 
    }
.header_double:hover 
    {
        transform: translateY(-5px); 
        transition: all 0.3s ease;
    }
.header_double:active 
    {
        transform: translateY(0);
        transition: all 0.3s ease;
    } 
.main {height: 140px}

#h_info
{
    opacity: 0;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.404); 
    text-shadow: 0 2px 20px rgba(255, 255, 255, 0.466);
    font-weight: 500;
    display: flex;
    /* Изменяемые размеры */
    min-height: 200px; /* Минимальная высота */
    background-color: rgb(53, 53, 53);
    border-radius: 10px; 
    /* Позиционирование */
    position: relative;
    float: left; 
    width: 20% !important; 
    margin: 2.5%;
    margin-top: 20px;
    margin-bottom: 0;
    /* Отступы и выравнивание */
    z-index: 9999;
    text-align: center;
    padding: 2%;
    /* Для текста внутри */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Оформление текста */
    color: white;
    font-size: 16px;
    line-height: 1.5;
      /* Свойства для предотвращения выхода текста */
    overflow: hidden; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    box-sizing: border-box; 
}
#h_author
{
    opacity: 0;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.404); 
    text-shadow: 0 2px 20px rgba(255, 255, 255, 0.466);
    font-weight: 500;
    display: flex;
    /* Изменяемые размеры */
    min-height: 200px; /* Минимальная высота */
    background-color: rgb(53, 53, 53);
    border-radius: 10px; 
    /* Позиционирование */
    position: relative; 
    float: right; 
    width: 20% !important; 
    margin: 2.5%;
    margin-top: 20px;
    margin-bottom: 0;
    /* Отступы и выравнивание */
    padding: 20px;
    z-index: 9999;
    text-align: center;
    padding: 0, 2%;
    /* Для текста внутри */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Оформление текста */
    color: white;
    font-size: 16px;
    line-height: 1.5;
      /* Свойства для предотвращения выхода текста */
    overflow: hidden; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    box-sizing: border-box; 
}
#post 
{
    display: flex;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
}


