/* made by mr.chronica */
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
html
    {
        zoom: 1;
        -webkit-text-size-adjust: 100%;
        background-color: rgb(43, 43, 43);
    } 
a 
    {
        color: inherit;
        text-decoration: none;
    }
.bg 
    {
        position: fixed;
        inset: 0;
        background: rgb(43, 43, 43) center / cover no-repeat;
        filter: blur(10px) saturate(0) ;
        transform: scale(1.05);
        z-index: -1;
    }
body 
    {
        user-select: none;
        color: whitesmoke; 
        text-align: center;
        font-family: "TikTok Sans", sans-serif;
        word-spacing: 5px;
        text-transform: lowercase; 
        font-size: 200%;
    }
.header
    {
        width: 100%;
        height: 80px;
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        color: #fff; 
        text-shadow: 0 0px 10px rgba(255, 255, 255, 0.356);
        
    }
.main_text:hover {cursor: pointer}
#cool_web
    {
        font-size: 1.4em;
        text-shadow: 0 0px 10px rgb(255, 255, 255);
        cursor: pointer;
    }

#required
    {
        background: rgb(39, 39, 39);
        border: 3px solid rgb(19, 19, 19);
        border-radius: 15px;
        width: 400px;
        height: 200px;
        resize: none;
        padding: 10px;
        color: whitesmoke;
        position: relative;
        bottom: +20px;
        position: relative;
        left: -10%;
    }
::placeholder 
    {
        color: rgb(196, 196, 196);
        text-align: center;
    }

#required::placeholder 
    {
        padding: 30px;
        font-size: 200%;
        position: relative;
        bottom: -30px;
    }
.required_button
    {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.404);
        font-size: 80%;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0.5%;
        background: rgb(53, 53, 53);
        color: whitesmoke;
        border-radius: 30px;
        cursor: pointer;
        border: none;
        transition: all 0.3s ease;
    }
.required_button:hover 
    {
        box-shadow: 0 0px 10px rgb(0, 0, 0);  
        transform: translateY(-2px); 
        transition: all 0.3s ease;
    }
.required_button:active 
    {
        transform: translateY(0);
        transition: all 0.3s ease;
    }
.input 
    {
        font-size: 100%;
        background: rgb(22, 22, 22);
        border: none;
        border-radius: 5px;
        resize: none;
        padding: 2px;
        color: whitesmoke;
    }
#execution {text-transform: uppercase}
#execution::placeholder {text-transform:lowercase}
#losti
    {
        width: 400px;
        height: 400px;
    }
#reactions
    {
        position: relative;
        bottom: +25px;
    }
#execution
    { 
        font-weight: bold;
        color: red;
    }
#execution::placeholder {font-weight: normal}
.header_double /* кнопки под логотипом */
    {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.404); 
        text-shadow: 0 2px 20px rgba(255, 255, 255, 0.466);
        font-weight: 500;
        display: flex;
        width: 20%;
        height: 40px;
        background-color: rgb(53, 53, 53);
        border-radius: 10px;
        margin: 2.25%;
        margin-top: 0;
        margin-bottom: 0;
        float: left;
        font-size: 48%;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: -10px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
.header_double:hover 
    {
        transform: translateY(-5px); 
        transition: all 0.3s ease;
    }
.header_double:active 
    {
        transform: translateY(0);
        transition: all 0.3s ease;
    } 
.main {height: 140px}
#howareu 
    {
        text-align: center;
        position: relative;
        bottom: 10px;
    }
::-webkit-scrollbar {width: 5px} 
::-webkit-scrollbar-thumb
    {
        border-radius: 30px;
        background:rgb(255, 255, 255);
        box-shadow:0 2px 20px rgba(255, 255, 255, 0.466);
    }
.header_info
{
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.404); 
    text-shadow: 0 2px 20px rgba(255, 255, 255, 0.466);
    font-weight: 500;
    display: flexbox;
    width: 15%;
    height: 200px;
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
    margin: 2.25%;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    font-size: 48%;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    bottom: -20%;
    right: -2.5%;
    z-index: 2;
    font-size: 55%;
    vertical-align: middle;
}

