.anatolycore
{
    text-align: center;
    animation: rgbAnimation 3s infinite linear;
    justify-content: center;
}
.creator_link
{
    text-decoration: none;
    color:black;
    text-align: center;
}
.creator_link:hover
{
    color:rgb(58, 58, 58);
}
#creator_link_summer
{
  color:black;
  text-align: center;
  cursor: pointer;
}


@keyframes rgbAnimation {
  0%   { color: rgb(255, 0, 0); }    /* Красный */
  33%  { color: rgb(0, 255, 0); }    /* Зеленый */
  66%  { color: rgb(0, 0, 255); }    /* Синий */
  100% { color: rgb(255, 0, 0); }    /* Снова красный */
}