/* made by mr.chronica */
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');


body {
    background:rgb(41, 41, 41);
    color: whitesmoke; 
    text-align: center;
    font-family: "TikTok Sans", sans-serif;
    word-spacing: 5px;
}

.main_text
{
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(206, 206, 206, 0.712) 0%, rgb(255, 255, 255) 50%, rgba(226, 226, 226, 0.616) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin: 20px auto;
    text-decoration: none;
}

.main_text:hover 
{
    cursor: pointer;
}

#first 
{
    background: url('https://instapik.ru/wp-content/uploads/2020/10/privet-10.jpg') no-repeat center top;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}

#cool_web
{
    font-size: 1.4em;
}

#required
{
    background: whitesmoke;
    border: 3px solid rgb(19, 19, 19);
    border-radius: 15px;
    width: 200px;
    height: 100px;
    resize: none;
}
#required_button
{
    text-transform: uppercase;
    background: rgb(19, 19, 19);
    color: whitesmoke;
    border-radius: 5px;
}