/* made by mr.chronica */
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');


body {
    background:rgb(41, 41, 41);
    color: whitesmoke; 
    text-align: center;
    font-family: "TikTok Sans", sans-serif;
    word-spacing: 5px;
    text-transform: lowercase;
}

.main_text
{
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(206, 206, 206, 0.712) 0%, rgb(255, 255, 255) 50%, rgba(226, 226, 226, 0.616) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin: 20px auto;
    text-decoration: none;
    text-shadow: 0 0px 10px rgba(255, 255, 255, 0.356);
}

.main_text:hover 
{
    cursor: pointer;
}

#first 
{
    background: url('https://instapik.ru/wp-content/uploads/2020/10/privet-10.jpg') no-repeat center top;
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
}

#cool_web
{
    font-size: 1.4em;
    text-shadow: 0 0px 10px rgb(255, 255, 255);
    cursor: pointer;
}

#required
{
    background: rgb(39, 39, 39);
    border: 3px solid rgb(19, 19, 19);
    border-radius: 15px;
    width: 200px;
    height: 100px;
    resize: none;
    padding: 10px;
    color: whitesmoke;
}

::placeholder 
{
  color: rgb(196, 196, 196);
  text-align: center;
}

#required::placeholder 
{
  padding: 30px;
}
  

.required_button
{
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(19, 19, 19);
    color: whitesmoke;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}
.required_button:hover {
    box-shadow: 0 0px 10px rgb(0, 0, 0);   
}
.input 
{
    background: rgb(22, 22, 22);
    border: none;
    border-radius: 5px;
    resize: none;
    padding: 2px;
    color: whitesmoke;
}
#execution
{
    text-transform: uppercase;
}
#execution::placeholder
{
    text-transform:lowercase;
}

