
.anatolycore
{
    text-align: center;
    font-size: 20px;
    animation: rgbAnimation 3s infinite linear;
    justify-content: center;
    font-family: "Bitcount Grid Double", system-ui;
    letter-spacing: 3px;
}

.creator_link
{
    text-decoration: none;
    color:black;
    text-align: center;
}
.creator_link:hover
{
    color:rgb(58, 58, 58);
}
.creator_link
{
    background: rgb(121, 121, 121);
    border: 2px solid rgb(94, 94, 94);
    border-radius: 10px;
}
#creator_link_summer
{
  color:black;
  text-align: center;
  cursor: pointer;
}
body 
{
  background: rgb(223, 223, 223);
}

@keyframes rgbAnimation {
  0%   { color: rgb(255, 0, 0); }    /* Красный */
  33%  { color: rgb(0, 255, 0); }    /* Зеленый */
  66%  { color: rgb(0, 0, 255); }    /* Синий */
  100% { color: rgb(255, 0, 0); }    /* Снова красный */
}